@model EntityFrameworkCore.Data.Teachers
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h2>@Model.TeacherID<span>-@Model.Name</span></h2>
